@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');  /*Runik vinyll*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');  /*Libre Baskerville*/
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Libre+Baskerville&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stylish&display=swap');  /*poppins*/
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.header{
    z-index: 1;
    position: relative;
    overflow: visible;
    height: 70vh;
    width: 100vw;
    margin-top: 0;
    height: auto;
    display: flex;
    background-image: url(images_section/header_bg.jpeg);
    background-attachment: fixed;

    transition: background-position 0.5s ease;
}
.header:hover{
    background-position: 0% 20%;  /*the left % controls the x-axis position and right one controls the y-axis position*/
}
.coloring_div{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: -21px;
    height: 70vh;
    width: 60vw;
    border-top-right-radius: 280px;
    border-bottom-right-radius: 280px;
    background: linear-gradient(135deg, rgb(11, 23, 136), rgb(58, 232, 255));
    transition: height, width, 0.5s ease;
}
.coloring_div:hover{
    height: 73vh;
    width: 63vw;
}
.coloring_div::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, #24c6dc, #514a9d);
    opacity: 0;
    border-top-right-radius: 280px;
    border-bottom-right-radius: 280px;

    transition: opacity, border-top-right-radius, border-bottom-right-radius, 0.5s ease;
}
.coloring_div:hover::before{
    opacity: 1;
    border-top-right-radius: 280px;
    border-bottom-right-radius: 280px;
}
.heading_nuclear_energy{
    position: relative;
    color: white; 
    margin-left: 33vw; 
    /* margin-right: 10px;  */
    font-size: 35px; 
    font-family: Google Sans; 
    letter-spacing: 3px; 
    font-weight: 20px;
    transition: margin-bottom, margin-right, color, 0.4s ease;
}
.heading_nuclear_energy:hover{
    margin-bottom: 40px;
    margin-right: 18px;
    color: orange;
}
.heading_nuclear_energy::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: orange;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.heading_nuclear_energy:hover::after{
    transform: scaleX(1);
}
.heading_and{
    position: relative;
    color: white; 
    margin-top: -25px; 
    margin-left: 52vw; 
    font-family: Libre Baskerville, serif;
    font-weight: 30px;
    transition: color, margin-right, 0.3s ease;
}
.heading_and:hover{
    margin-right: 20px;
    color: orange;
}
.heading_and::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: orange;

    border-radius: 20px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.heading_and:hover::after{
    transform: scaleX(1);
}
.heading_physics{
    position: relative;
    color: white;
    margin-left: 45vw; 
    margin-right: 10px; 
    margin-top: -28px;
    font-size: 40px; font-family: 
    Google Sans; 
    letter-spacing: 3px; 
    font-weight: 20px;

    transition: margin-right, margin-top, color, 0.4s ease;
}
.heading_physics:hover{
    margin-right: 18px;
    margin-top: -18px;
    color: orange;
}
.heading_physics::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: orange;
    border-radius: 20px;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.heading_physics:hover::after{
    transform: scaleX(1);
}
.nuclear_game_link{
    color: rgb(253, 236, 83);
    font-family: initial;
    font-style: italic;
    font-size: 20px;
    margin-top: -15px;
}
.shadow_gradiant{
    z-index: 1;
    position: absolute;
    margin-top: 0px;
    height: 12vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 10%, rgba(0, 0, 0, 1) 90%);
}
.insp_div{
    z-index: 1;
    position: relative;
    display: flex;
    height: auto;
    width: 100vw;
}
.insp_state{
    margin-top: 15vh;
    position: absolute;
    color: transparent;
    font-family: Google Sans;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 10vh;

    text-transform: initial;  /*this property is used for specifying the casing of a text on the page*/
    background: linear-gradient(
        to right,
        red, orange, yellow, orange, red
    );
    background-size: 200%;  /*it adjusts the linear gradiant color transition while there are multiple colors*/
    background-clip: text;  /*it decides, where the bg-color or image is allowed to appear inside of an element*/
    -webkit-background-clip: text;
    animation: insp_animation 2s linear infinite;
}
@keyframes insp_animation{  /*gives the animatory function to the respective animation*/
    to{
        background-position: 200%;
    }
}
.decorate_1{
    position: relative;
    height: 250px; 
    padding-left: 1vw; 
    margin-bottom: 7vh;
    transition: height 0.3s ease;
}
.decorate_1:hover{
    height: 260px;
}
.decorate_2{
    height: 170px;
    position: absolute;
    right: 9vw;
    transition: height 0.3s ease;
}
.decorate_2:hover{
    height: 180px;
}
.decorate_3{
    height: 130px;
    position: absolute;
    right: 24vw;
    top: 25vh;
    transition: height 0.3s ease;
}
.decorate_3:hover{
    height: 140px;
}
.about{
    z-index: 1;
    position: relative;
    margin-top: -4vh;
    border-radius: 20px;
    height: auto;
    width: 100vw;

    background-color: white;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images_section/mars_theme_bg.jpeg);
    background-size: cover;
}
.about_heading{
    position: absolute; 
    color: transparent;
    font-family: Google Sans;
    font-size: 50px;
    padding-left: 11vw;
    width: 40vw;
    
    background: linear-gradient(to right, rgb(255, 217, 0), rgb(255, 72, 0), yellow);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;

    animation: about_animation 2s linear infinite; /*linear infinite means, the animation would take place linearly by infinite times*/ 
    transition: margin-right, 0.3s ease;
}
.about_heading:hover{
    margin-left: 1vw;
}
@keyframes about_animation{
    to{
        background-position: 200%;
    }
}
.about_heading::after{
    content: "this webworld and it's motive";
    position: absolute;
    color: rgb(0, 207, 0);
    font-size: 20px;
    font-family: Libre Baskerville;
    font-style: italic;
    font-weight: 100;
    bottom: 8px;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.about_heading:hover::after{
    transform: scaleX(1)
}
.about_description{
    z-index: 1;
    position: relative;
    display: flex;
    margin-top: -15px;
    height: auto;
}
.para_1{  
    position: relative;
    padding-left: 4vw;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: initial;
    font-weight: 400;
    font-size: 20px;
}
.para_1::before{
    content: "";
    position: absolute;
    background-color: orange;
    border-radius: 10px;
    left: 2.5vw;
    top: 0;
    height: 100%;
    width: 8px;
}
.para_2{
    position: relative;
    padding-left: 4vw;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: initial;
    font-weight: 400;
    font-size: 21px;
}
.para_2::before{
    content: "";
    position: absolute;
    background-color: orange;
    border-radius: 10px;
    left: 2.5vw;
    top: 0;
    height: 100%;
    width: 8px;
}
.u_style{  /*this is for all the corrosponding u elements*/
    text-decoration: none; 
    font-style: italic; 
    color: yellow;
}

/*every elements are composed of 3 layers, border-> padding-> content*/